---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="text-white text-xl">
      <Navbar client:load />
      <div class="h-[4000px]"></div>

      Wow
    </div>
  </main>
</Layout>
