---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import CanvasTest from "../components/CanvasTest.astro";
import BoxTest from "../components/BoxTest.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Cesar Camacho">
  <main>
    <div class="text-zinc-200 text-xl">
      <Navbar />
      <Hero />
      <Experience />
      <Projects />
      <Contact />
      <Footer />
    </div>
  </main></Layout
>
