---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import CanvasTest from "../components/CanvasTest.astro";
import BoxTest from "../components/BoxTest.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="text-white text-xl">
      <Navbar />
      <Hero />
      <Experience />
      <Projects />
    </div>
  </main>
</Layout>
