<section class="bg-slate-900">
  <div class="m-auto max-w-[1400px] py-16 px-4">
    <div
      class="flex flex-col flex-wrap sm:flex-row sm:justify-center sm:items-center gap-20"
    >
      <div class="flex items-center gap-4">
        <div class="bg-white inline-block w-12 h-12 rounded-full relative">
          <img
            class="absolute m-auto top-0 bottom-0 left-0 right-0 w-8 h-8"
            src="assets/phone-call-icon.svg"
            alt="phone icon"
          />
        </div>
        <h2 class="pt-1 text-base sm:text-lg">(760)917-7209</h2>
      </div>
      <div class="flex items-center gap-4">
        <div
          class="bg-white flex-shrink-0 inline-block w-12 h-12 rounded-full relative"
        >
          <img
            class="absolute m-auto top-0 bottom-0 left-0 right-0 w-8 h-8"
            src="assets/mail-icon.svg"
            alt="mail envelope icon"
          />
        </div>
        <h2 class="pt-1 text-base sm:text-lg flex-1">
          CesarCamacho760@gmail.com
        </h2>
      </div>

      <a href="https://github.com/Xysar" class="sm:inline-block hidden">
        <div
          class="bg-white inline-block w-12 h-12 rounded-full relative ring-white ring-offset-slate-900 ring-offset-2 duration-300 hover:ring"
        >
          <img
            class="absolute m-auto top-0 bottom-0 left-0 right-0 w-8 h-8"
            src="assets/github-mark.svg"
            alt="github logo"
          />
        </div>
      </a>
      <a
        href="https://www.linkedin.com/in/cesarcamacho760/"
        class="sm:inline-block hidden"
      >
        <div
          class="bg-white inline-block w-12 h-12 rounded-full relative ring-white ring-offset-slate-900 ring-offset-2 duration-300 hover:ring"
        >
          <img
            class="absolute m-auto top-0 bottom-0 left-0 right-0 w-8 h-8"
            src="assets/linkedin-icon.svg"
            alt="linkedin logo"
          />
        </div>
      </a>

      <div class="sm:hidden flex justify-evenly">
        <a href="https://github.com/Xysar" class="">
          <div
            class="bg-white inline-block w-12 h-12 rounded-full relative ring-white ring-offset-slate-900 ring-offset-2 duration-300 hover:ring"
          >
            <img
              class="absolute m-auto top-0 bottom-0 left-0 right-0 w-8 h-8"
              src="assets/github-mark.svg"
              alt="github logo"
            />
          </div>
        </a>
        <a href="https://www.linkedin.com/in/cesarcamacho760/" class="">
          <div
            class="bg-white inline-block w-12 h-12 rounded-full relative ring-white ring-offset-slate-900 ring-offset-2 duration-300 hover:ring"
          >
            <img
              class="absolute m-auto top-0 bottom-0 left-0 right-0 w-8 h-8"
              src="assets/linkedin-icon.svg"
              alt="linkedin logo"
            />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
