<section id="portfolio" class="bg-slate-900 mb-52">
  <div class="m-auto max-w-[1400px]">
    <div class="relative flex justify-center gap-10">
      <div class="">left</div>
      <div class="">
        <div class="relative bg-slate-500 bg-opacity-50 h-[1000px] w-8">
          <div
            class="absolute bg-white w-6 h-6 rounded-full m-auto right-0 left-0"
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
