<section id="portfolio" class="bg-slate-900 pt-32 mb-32 z-10">
  <div class="m-auto max-w-[1400px] mx-10">
    <div class="max-w-[700px] m-auto pb-12">
      <h3 class="text-3xl">About Me</h3>
      <p class="font-opensans text-lg">
        I am a front end developer hoping to create projects that help and
        entertain. I have always been an avid puzzle solver and great problem
        solver, so programming has always been the perfect outlet for me. I hope
        you enjoy browsing my projects and feel free to contact me and connect!
      </p>
    </div>
    <div class="relative flex md:flex-row flex-col justify-center gap-10">
      <div class="flex-1 my-12">
        <div
          data-aos="fade-right"
          class="grid grid-cols-2 justify-center gap-y-16 lg:grid-cols-4"
        >
          {/* List of Frameworks start here */}
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-slate-700"
            >
              <img class="h-12" src="assets/React-icon.svg" alt="" />
            </div>
            <p class="text-center text-lg">React JS</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div class="relative mb-2 flex h-24 w-24 items-center rounded-full">
              <img class="z-10" src="assets/nextjs-logo.svg" alt="" />
              <div
                class="absolute bg-white w-[5.9rem] h-[5.9rem] left-0 right-0 m-auto z-0 rounded-full"
              >
              </div>
            </div>
            <p class="text-center">Next JS</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-amber-800"
            >
              <img class="h-16" src="assets/astro-logo.png" alt="" />
            </div>
            <p class="text-center">Astro</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-red-900"
            >
              <img class="h-12" src="assets/sanitylogo.png" alt="" />
            </div>
            <p class="text-center">Sanity</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-red-900 bg-opacity-80"
            >
              <img class="h-14" src=" assets/java-icon.svg" alt="" />
            </div>
            <p class="text-center text-lg">Java</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-yellow-800"
            >
              <img class="h-10 w-10" src="assets/javascript-icon.svg" alt="" />
            </div>
            <p class="text-center text-lg">JavaScript</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-blue-900"
            >
              <img
                class="w-10"
                src="assets/typescript-programming-language-icon.svg"
                alt=""
              />
            </div>
            <p class="text-center text-lg">TypeScript</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-orange-800"
            >
              <img class="w-10" src="assets/html-icon.svg" alt="" />
            </div>
            <p class="text-center text-lg">HTML5</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-green-800"
            >
              <img class="w-12" src="assets/node-js-icon.svg" alt="" />
            </div>
            <p class="text-center text-lg">Node JS</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-sky-800"
            >
              <img class="w-11" src="assets/css-icon.svg" alt="" />
            </div>
            <p class="text-center text-lg">CSS3</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-cyan-800"
            >
              <img class="w-14" src="assets/tailwind-css-icon.svg" alt="" />
            </div>
            <p class="text-center text-lg">Tailwind.css</p>
          </div>
          <div
            class="flex flex-col items-center duration-150 ease-in hover:scale-105"
          >
            <div
              class="mb-2 flex h-24 w-24 items-center justify-center rounded-full bg-green-800"
            >
              <img class="w-12" src="assets/spring-original.svg" alt="" />
            </div>
            <p class="text-center text-lg">Spring Boot</p>
          </div>
        </div>
      </div>

      <div class="relative flex-1 my-12">
        <div class="relative 0 h-[700px]">
          <div class="absolute bg-opacity-50 h-[500px] w-8">
            <div class="absolute bg-slate-500 w-1 m-auto h-full right-0 left-0">
            </div>
            <div
              class="absolute bg-white w-5 h-5 rounded-full m-auto right-0 left-0"
            >
            </div>
            <div
              class="absolute bg-white top-[250px] w-5 h-5 rounded-full m-auto right-0 left-0"
            >
            </div>
            <div
              class="absolute bg-white top-[500px] w-5 h-5 rounded-full m-auto right-0 left-0"
            >
            </div>
          </div>
          <div class="absolute m-auto right-0 left-12">
            <h2 class="relative text-lg text-slate-300 mb-2">Present</h2>
            <h3 class="relative text-xl text-white">Freelance Web Developer</h3>
            <p class="text-lg font-opensans">
              - Independently develop customer-facing websites for companies
              focusing on directing visitors to services and contact
              information. <br />- Utilize a flexible stack, including
              JavaScript, React, and Astro, to create custom, fast performing
              and visually appealing websites with varying complexity.
            </p>
          </div>

          <div class="absolute m-auto right-0 top-[250px] left-12">
            <h2 class="relative text-lg text-slate-300 mb-2">2022</h2>
            <h3 class="relative text-xl text-white">
              Computer Science Research Assistant
            </h3>
            <p class="text-lg font-opensans">
              - Collaborated with the professor in developing a new parallel
              programming library in Go through exploring features such as
              thread communication and reflection.
              <br />- Assisted in creating Go-based assignments for a future
              parallel programming course.
            </p>
          </div>

          <div class="absolute m-auto right-0 top-[500px] left-12">
            <h2 class="relative text-lg text-slate-300 mb-2">2021</h2>
            <h3 class="relative text-xl text-white">Computer Science Coach</h3>
            <p class="text-lg font-opensans">
              - Assisted professor during class by helping resolve student
              questions and confusion. <br /> - Conducted office hours to assist
              students in one-on-one sessions, guiding them through issues in abstraction
              and problem solving.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
