<div class="h-screen relative">
  <div class="flex justify-center items-center h-full gap-10">
    <div class="">
      <h1 class="text-3xl">Hi I'm Cesar</h1>
    </div>
    <div class="">
      <img
        src="/profile-pic.jpg"
        alt="portrait of Cesar Camacho"
        class="w-40 h-40 rounded-full"
      />
    </div>
  </div>
</div>
