---
const NavbarVertPaddingExpanded = "py-10";
const NavbarVertPaddingClosed = "py-5";
---

<nav class="fixed w-full top-0 bg-navy z-20 border-b-white border-b">
  <div class="relative m-auto max-w-[1400px]">
    <div
      data-expanded={NavbarVertPaddingExpanded}
      data-closed={NavbarVertPaddingClosed}
      class={`relative flex items-center justify-center ${NavbarVertPaddingExpanded} md:px-10 px-5 md:mx-10 duration-300  bg-navy gap-2 z-50`}
      id="navbar"
    >
      <a class="flex-1 text-3xl font-league pt-2 pb-1" href="/">
        Cesar Camacho
      </a>
      <ul class="hidden justify-end gap-12 text-base lg:flex">
        <li class="flex-1">
          <a
            class="rounded-xl px-5 pt-3 pb-2 duration-150 ease-in hover:bg-zinc-100 hover:text-navy"
            href="https://github.com/Xysar"
            target="_blank"
          >
            Github
          </a>
        </li>
        <li class="flex-1">
          <a
            class="rounded-xl px-5 pt-3 pb-2 duration-150 ease-in hover:bg-zinc-100 hover:text-navy"
            href="https://www.linkedin.com/in/cesarcamacho760/"
            target="_blank"
          >
            LinkedIn
          </a>
        </li>
        <li class="flex-1">
          <a
            class="rounded-xl px-5 pt-3 pb-2 duration-150 ease-in hover:bg-zinc-100 hover:text-navy"
            href="resume"
          >
            Resume
          </a>
        </li>
        <li class="flex-1">
          <a
            href="#portfolio"
            class="rounded-xl px-5 pt-3 pb-2 duration-200 ease-in bg-zinc-100 text-navy ring-white ring-offset-slate-900 ring-offset-2 hover:ring"
          >
            Portfolio
          </a>
        </li>
      </ul>
      <div
        class="flex
            flex-1
            justify-end
            lg:hidden"
      >
        <button id="mobile-menu-button" class="flex items-center">
          <img
            src="assets/menu.svg"
            alt="Menu"
            class="h-14 w-14 cursor-pointer object-contain p-2"
          />
        </button>
      </div>
    </div>
    <ul
      id="mobile-menu"
      class="invisible absolute w-full z-10 -mt-[200px] duration-500 flex-col bg-slate-700"
    >
      <li class="bg-slate-500 text-center">
        <a
          class="inline-block w-full bg-slate-900 px-10 py-2 duration-150 ease-in hover:bg-slate-800 hover:text-white"
          href="https://github.com/Xysar"
          target="_blank"
        >
          Github
        </a>
      </li>
      <li class="text-center">
        <a
          class="inline-block w-full px-5 py-2 duration-150 ease-in hover:bg-slate-800 hover:text-white"
          href="https://www.linkedin.com/in/cesarcamacho760/"
          target="_blank"
        >
          LinkedIn
        </a>
      </li>
      <li class="text-center">
        <a
          class="inline-block w-full px-5 py-2 duration-150 ease-in hover:bg-slate-800 hover:text-white"
          href="/resume"
        >
          Resume
        </a>
      </li>
      <li class="text-center">
        <a
          href=""
          class="inline-block w-full px-5 py-2 duration-150 ease-in hover:bg-slate-800 hover:text-white"
        >
          Portfolio
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
  h1 {
    font-family: "leaguespartan", sans-serif;
  }
</style>

<script>
  window.onscroll = function () {
    scrollFunction();
  };
  const navbar = document.getElementById("navbar")!;
  const closed: string = navbar.dataset.closed!;
  const expanded: string = navbar.dataset.expanded!;

  function scrollFunction() {
    if (
      document.body.scrollTop > 80 ||
      document.documentElement.scrollTop > 80
    ) {
      navbar.classList.remove(expanded);
      navbar.classList.add(closed);
    } else {
      navbar.classList.remove(closed);
      navbar.classList.add(expanded);
    }
  }

  const menuButton = document.getElementById("mobile-menu-button");
  const mobileMenu = document.getElementById("mobile-menu");

  let toggle: boolean = false;

  const makeMenuVisible = () => {
    toggle = !toggle;

    mobileMenu!.style.visibility = toggle ? "visible" : "hidden";
    mobileMenu!.style.marginTop = toggle ? "0px" : "-200px";
  };

  menuButton!.addEventListener("click", () => makeMenuVisible());
</script>
