<div class="max-w-[1400px] m-auto">
  <h1 class="text-5xl text-center mb-20">Projects</h1>
  <div
    class="flex flex-col md:flex-row-reverse justify-center gap-10 mx-10 mb-10"
  >
    <div class="flex-1 relative mb-6 overflow-hidden rounded-lg">
      <img
        class="m-auto object-contain"
        src="/jorgeportfolioscreenshot.png"
        alt="screenshot of photography portfolio project"
      />
    </div>
    <div class="flex-1 text-white">
      <h1 class="mb-3 text-center font-bold">Photography Portfolio</h1>
      <p class="mb-3 text-base font-opensans">
        Portfolio website website for showcasing photographer's portfolio. I
        utilized Sanity CMS as a backend to allow client to readily change the
        contents of pages and descriptions.
        <br /><br /> This combined with the server side rendering capabilities of
        NextJS allows pages to be created dynamically, and for their contents to
        be edited dynamically.
      </p>
      <div class="flex flex-wrap gap-1">
        <p class="inline-block bg-navy px-2 py-1 text-white">Next.js</p>
        <p class="inline-block bg-navy px-2 py-1 text-white">React</p>
        <p class="inline-block bg-navy px-2 py-1 text-white">
          {" "}
          Sanity
        </p>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col md:flex-row-reverse justify-center gap-10 mx-10 mb-10"
  >
    <div class="flex-1 relative mb-6 overflow-hidden rounded-lg">
      <img
        class="m-auto object-contain"
        src="/jorgeportfolioscreenshot.png"
        alt="screenshot of photography portfolio project"
      />
    </div>
    <div class="flex-1 text-white">
      <h1 class="mb-3 text-center font-bold">Music Inbox</h1>
      <p class="mb-3 text-base font-sans">
        Music review site that uses LastFM's API and a backend built using
        Prisma.
      </p>
      <div class="flex flex-wrap gap-1">
        <p class="inline-block bg-navy px-2 py-1 text-white">Next.js</p>
        <p class="inline-block bg-navy px-2 py-1 text-white">React</p>
        <p class="inline-block bg-navy px-2 py-1 text-white">
          {" "}
          Sanity
        </p>
      </div>
    </div>
  </div>
</div>
